In [1]:
import pandas as pd
import numpy as np

## Load in CSV files into python.

In [31]:
# List your CSV file paths manually
csv_files = ['data\\03_Library SystemCustomers.csv', 'data\\03_Library Systembook.csv']

# Load each CSV into a dataframe and assign to individual variables
df_system_customers = pd.read_csv(csv_files[0])
df_systembook = pd.read_csv(csv_files[1])

### Systembook cleansing

In [32]:
# Drop rows where essential fields are missing
essential_fields = ['Id', 'Books', 'Book checkout', 'Book Returned', 'Customer ID']
df_systembook = df_systembook.dropna(subset=essential_fields).copy()

In [ ]:
# Strip the extra quotes and convert dates to datetime format
df_systembook['Book checkout'] = df_systembook['Book checkout'].str.replace('"', '')
df_systembook['Book checkout'] = pd.to_datetime(df_systembook['Book checkout'].str.replace('"', ''), errors='coerce', dayfirst=True, format="%d/%m/%Y")
df_systembook['Book Returned'] = pd.to_datetime(df_systembook['Book Returned'], errors='coerce', dayfirst=True, format="%d/%m/%Y")

# One row here is incorrect as it's date is 32/05/2023.

In [34]:
# Convert Id & Customer ID to integers
df_systembook['Id'] = df_systembook['Id'].astype(int)
df_systembook['Customer ID'] = df_systembook['Customer ID'].astype(int)